@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

/* Just wondering where I can improve upon my responsive design and HTML/CSS organization */

html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
  font-family: 'Love Ya Like A Sister', cursive, sans-serif;
  background-color: #F5F5F5;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

/* Utility */
.flex {
  display: flex;
}

.hide {
  visibility: hidden;
}

/* Grid Layout */
.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  row-gap: 1em;
  column-gap: .5em;
}

.container > h1 {
  grid-column: 1 / 4;
  margin: 3rem 0 2rem 0;
}

.container > form {
  grid-column: 1 / 4;
}

/* Typography */
h1 {
  font-size: 2.5rem;
}

.number-label,
button {
  font-size: 1.5rem;
  font-weight: 700;
}

span.number-label {
  display: block;
  font-size: 1.5em;
}

.warning {
  font-size: 1.2rem;
}

/* Inputs and Components */
input,
textarea,
button,
.stat-container {
  border-radius: 0.5em;
  border: none;
  padding: 0.5em;
}

input,
textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  background-color: #ffe7e5;
  font-size: 1.5rem;
  border: 2px #ffe7e5 solid;
  margin-top: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: pink;
}


.name-input-container {
  gap: .5em;
}

.letter-length-input > input {
  max-width: 90%;
  margin: 0 auto;

}

textarea {
  resize: vertical;
  height: 10em;
  padding: .5em;
}

button {
  background-color: #87DF9A;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.stat-container {
  background-color: #FFC997;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: .5rem;
  font-weight: 700;
  font-size: 1.1rem;
}

.random-fill-btn {
  margin-top: 1.5em;
  background-color: rgb(179, 233, 251);
}

.clear-form-btn {
  background-color: rgb(241, 187, 233);
}

/* Modal */
.letter-modal {
  display: none;
  background-color: #ffc0cb;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 85%;
  opacity: .97;
}

.letter-modal > p {
  max-width: 55ch;
  margin: 1em auto;
  font-size: 1.5rem;
  padding-inline: 3em;
}

.letter-modal > p:first-child {
  margin-top: 2.5em;
}

.close-modal-btn {
  margin-bottom: 1em;
}

.letter-modal > h3 {
  font-size: 2.5rem;
}

.letter-modal {
  overflow-y: auto;
}

/* Hover/Focus */

button:hover.clear-form-btn,
button:focus.clear-form-btn {
  background-color: pink;
}

.generate-btn:hover,
.generate-btn:focus,
.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: lightgreen;
}

.random-fill-btn:hover,
.generate-btn:focus {
  background-color: rgb(222, 242, 249);
}

/* For mobile */
@media (max-width: 550px) {
  h1,
  .letter-modal > h3 {
    font-size: 1.3rem;
  }

  .name-input-container {
    flex-direction: column;
    gap: 0;
  }

  input#giver {
    margin-top: 0;
  }

  input, textarea, .letter-modal > p {
    font-size: 1rem;
  }

  .container {
    display: block;
  }

  .stat-container {
    margin-top: 1rem;
  }

  .random-fill-btn,
  .clear-form-btn,
  .generate-btn {
    margin-top: 1rem;
    width: 80%;
  }

  .generate-btn {
    width: 100%;
  }

  span#word-count {
    display: inline;
    margin-left: .5rem;
  }
}